body {
  width: 901px;
  margin: auto;
}

body header{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 30px;
}

body header img{
  width: 42px;
  height: 45px;
}

.mainHeader h1 {
  font-family: c;
}

body header nav {
  margin-left: 345px;
}

body header nav img{
  width: 24px;
  height: 24px;
}

body header div p{
  color:grey;
  font-size: 12;
}

.h1Header {
  margin-top: 40px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

body .mainHeader {
  flex-direction: column;
  margin-left: 15px;
}

.navBarBorder {
  height: 10px;
  background-image: url('../img/hr-img.png');
}

main {
  display: flex;
  flex-direction: column;
}

.h1SubHeader {
  display: flex;
  margin-bottom: 40px;
  color: grey;
}


.print {
  margin-left: 690px;
}

main div div p {
  margin: 15px;
  padding: 10px;
  font-size: 18px;
  text-indent: 40px;
  color: grey;
}

.checklistSheet {
  position: relative;
  background-image: url('../img/list-bg.png');
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  padding: 50px;
}

#checklistFlex {
  display: flex;
  justify-content: space-around;
  font-family: 'Architects Daughter';
  font-size: 24px;
}

#checklist1 {
  list-style-type: square;
  padding-left: 35px;
}

#checklist2 {
  list-style-type: square;
  padding-left: 125px;
}

ul #checklist li {
  margin-bottom: 10px;
}

div h2 {
  margin: 30px;
}

.b4FooterBorder {
  height: 10px;
  background-image: url('../img/hr-img.png');
  margin-top: 30px;
  margin-bottom: 15px;
}

.b4Footer {
  display: flex;
  flex-direction: row;
}

.b4Footer img {
  height: 71px;
}

.vanessaSection {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  border: none;
}

.vanessaSection h2 {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.shareRecipe {
  align-self: center;
  background-color: rgb(171, 72, 1);
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  margin-left: 100px;
  border-radius: 0;
  height: 50px;
  width: 250px;
}

.linesContainer {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linesContainer img {
  border: 10px solid white;
  z-index: 1;
}

.line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: gray;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: gray;
  margin-top: 5px;
}